<div class="card animate__animated animate__fadeInDown">
    <h1 class="center-text">Settings</h1>
    <form>
        <label class="input-label">Current Password</label>
        <input  class="input-textfield" type="password" />
        <br />
        <label class="input-label">New Password</label>
        <input  class="input-textfield" type="password" />
        <br />
        <button class="button red mb-3">Self Destruct</button>
        <br />
        <div class="center"></div>
        <button class="button grey w25">Cancel</button>
        <button class="button green w25">Save</button>
    </form>
</div>